In [1]:
from functions import *
from Twitter_functions import *

In [2]:
with open('Authentication/database_uri.txt', 'r', encoding="utf8") as f:
    uri = f.read()

In [3]:
with open('Authentication/twitter_bearer_token.txt', 'r', encoding="utf8") as f:
    token = f.read()

header = create_Twitter_headers(token)

In [4]:
# The 3 tables:

# command = '''
#     CREATE TABLE twitter_data (
#     tweet_id VARCHAR NOT NULL,
#     timestamp VARCHAR NOT NULL,
#     tweet VARCHAR
# )
# '''

# command = '''
#     CREATE TABLE reddit_data (
#     post_id VARCHAR NOT NULL,
#     timestamp VARCHAR NOT NULL,
#     post VARCHAR
# )
# '''

# command = '''
#     CREATE TABLE tweets_for_analysis (
#     id VARCHAR NOT NULL,
#     user_id VARCHAR,
#     timestamp VARCHAR NOT NULL,
#     reply_to VARCHAR NOT NULL,
#     comment VARCHAR NOT NULL,
#     social_media VARCHAR,
#     head_id VARCHAR NOT NULL,
#     conversation_id VARCHAR NOT NULL
# )
# '''

# command = '''
#     CREATE TABLE reddit_posts_for_analysis (
#     id VARCHAR NOT NULL,
#     username VARCHAR NOT NULL,
#     timestamp VARCHAR NOT NULL,
#     reply_to VARCHAR NOT NULL,
#     comment VARCHAR NOT NULL,
#     social_media VARCHAR,
#     head_id VARCHAR NOT NULL
# )
# '''

# command = '''
#     CREATE TABLE pheme_dataset_for_analysis (
#     id VARCHAR NOT NULL,
#     timestamp VARCHAR NOT NULL,
#     reply_to VARCHAR NOT NULL,
#     comment VARCHAR NOT NULL,
#     head_id VARCHAR NOT NULL
# )
# '''

# command = '''ALTER TABLE tweets_for_analysis RENAME TO comments_for_analysis'''

# command = '''
#     DELETE FROM comments_for_analysis WHERE conversation_id = '1513829591038627840'
# '''

# command = '''ALTER TABLE comments_for_analysis ADD COLUMN user_id VARCHAR'''

# setUpDB(command, uri)
# print('Done')

In [5]:
socialMedia = ['Reddit', 'Twitter']

for i in range(len(socialMedia)):
    print(i, socialMedia[i])

socialMediaOption = int(input("Choose social media platform: "))

print(f'\nChosen {socialMedia[socialMediaOption]}\n')

if socialMedia[socialMediaOption] == 'Reddit':
    query = '''
        select * from reddit_posts_for_analysis
    '''
    
    data = getData(query, uri)
    print('Length of dataframe:', len(data))
    print(data['head_id'].unique())
    
elif socialMedia[socialMediaOption] == 'Twitter':
    query = '''
        select * from comments_for_analysis
    '''
    data = getData(query, uri)
    print('Length of dataframe:', len(data))
    print(data['conversation_id'].unique())

data.head()

0 Reddit
1 Twitter
Choose social media platform: 1

Chosen Twitter

Length of dataframe: 614
['1505784753043124225' '1505413972568072195' '1505410767801106434'
 '1505085602051502085' '1504381389818368001' '1504393380503044098'
 '1506133764597985282' '1513829591038627840' '1514553036395360259'
 '1504786465091321859' '1513446924401410050' '1507903248820150276'
 '1507922082683793408' '1507745670618251264' '1507558981622853632'
 '1506830905687511040']

,id,timestamp,reply_to,comment,social_media,head_id,conversation_id,user_id
0,10000,2022-03-22T10:03:19.000Z,10003,"@oterenceo @MothershipSG Definitely, there is ...",Twitter,1619325942,1505784753043124225,None
1,10006,2022-03-22T02:05:17.000Z,10041,@treasured1964 @MothershipSG They dun get to c...,Twitter,1619325942,1505784753043124225,None
2,10012,2022-03-21T19:09:50.000Z,1619325942,@MothershipSG Absolutely heartbreaking. My con...,Twitter,1619325942,1505784753043124225,None
3,10017,2022-03-21T14:55:31.000Z,10018,@teamus712 @MothershipSG Say you’ve never felt...,Twitter,1619325942,1505784753043124225,None
4,10022,2022-03-21T13:28:25.000Z,1619325942,@MothershipSG experienced twice with KKH hospi...,Twitter,1619325942,1505784753043124225,None

In [6]:
for i in data['conversation_id'].unique():
        print(i, ':', getSingleTweetInfo(i, header)['data'][0]['text'], '\n')

1505784753043124225 : 9-month pregnant woman suffers miscarriage after 2-hour wait at NUH A&amp;E, investigations ongoing
https://t.co/sz4nhuzLlW https://t.co/3PHat4HbLh

1505413972568072195 : China will be on right side of history regarding stance on Ukraine: China foreign minister https://t.co/WDRgTPBcDj https://t.co/2IKVTzr5Zi

1505410767801106434 : SDA causes diners' heads to turn by taking photos of measuring tape on ground in Burgs at VivoCity https://t.co/wsyFNGcBmr https://t.co/6jFOPafNyr

1505085602051502085 : S'poreans are 'handicapped in addressing disinformation' such as Chinese propaganda: academics: https://t.co/doxBVVCv1z https://t.co/xsTVlvUBB6

1504381389818368001 : S'pore woman, 28, keeps testing ART positive for 12 days straight https://t.co/e4JNF9oT7T https://t.co/h57eDuWW5a

1504393380503044098 : Authorities investigating 'Badge Lady' for walking around Jewel Changi Airport unmasked https://t.co/gF4SU7Tljv

1506133764597985282 : NUH urges public not to speculate about incident involving pregnant woman, hospital in touch with family to provide support
https://t.co/uzTCe3MhwI https://t.co/hsC8jpK7MI

1513829591038627840 : Singaporeans' trust in the Govt key to handling of Covid-19 crisis: PM Lee https://t.co/1DAmSdMXgK https://t.co/CZYwsBA0Ux

1514553036395360259 : [JUST IN] Prime Minister Lee Hsien Loong announced that Minister Lawrence Wong has been chosen as the new leader of the 4G team.

1504786465091321859 : Iris Koh contracts Covid-19, says she may have ‘immunity for life’ despite experts saying otherwise

https://t.co/JYZXyPmlIT https://t.co/3aKUG7jn9P

1513446924401410050 : Dad-to-be, 24, dies in accident involving 2 motorcycles &amp; van along Gambas Ave https://t.co/aRbAtAEiN1 https://t.co/6V4jrXYKcF

1507903248820150276 : PAP unveils three new faces in Sengkang GRC https://t.co/Q4nXDK9k4o

1507922082683793408 : Necessary for S'pore to impose sanctions on Russia given 'unprecedented gravity' of attack on Ukraine: Teo Chee Hean: https://t.co/K5Go2JsGHz https://t.co/a6eKvH1G0i

1507745670618251264 : 'Use your gun &amp; shoot me lor': Man shouts at police officers over Omega x Swatch watches at ION Orchard https://t.co/0vMq09c7ng https://t.co/Dky7fYqsOh

1507558981622853632 : Important to support healthcare workers no matter outcome of NUH investigation: Ong Ye Kung https://t.co/40t9NLFGME https://t.co/v8z5IdRckL

1506830905687511040 : [JUST IN] PM Lee has announced that from March 29, 2022, the wearing of masks outdoors in S'pore will be optional.